/*!Gruvbox Dark*/

$accent: #458588;

$green: #b8bb26;
$yellow: #d79921;
$red: #cc241d;
$redlight: #fb4934;

$background: #282828;
$background_accent: #1d2021;

$text: #ebdbb2;
$button_text: #ebdbb2;

$lightGray: #665c54;
$input_background: #3c3836;

@import './sass/_imports.scss';
