/*!Solarized Light*/

$accent: #268bd2;

$green: #859900;
$yellow: #b58900;
$red: #dc322f;
$redlight: #cb4b16;

$background: #fdf6e3;
$background_accent: #eee8d5;

$text: #657b83;
$button_text: #fdf6e3;

$lightGray: #93a1a1;
$input_background: #eee8d5;

@import './sass/_imports.scss';
