/*!GitHub Dark*/

$accent: #58a6ff;

$green: #3fb950;
$yellow: #d29922;
$red: #f85149;
$redlight: #da3633;

$background: #0d1117;
$background_accent: #010409;

$text: #c9d1d9;
$button_text: white;

$lightGray: #484f58;
$input_background: #161b22;

@import './sass/_imports.scss';
