/*!Gruvbox Light*/

$accent: #458588;

$green: #79740e;
$yellow: #b57614;
$red: #9d0006;
$redlight: #cc241d;

$background: #fbf1c7;
$background_accent: #f2e5bc;

$text: #3c3836;
$button_text: #fbf1c7;

$lightGray: #a89984;
$input_background: #ebdbb2;

@import './sass/_imports.scss';
