/*!SynthWave 84*/

$accent: #ff7edb;

$green: #72f1b8;
$yellow: #fede5d;
$red: #fe4450;
$redlight: #f97e72;

$background: #262335;
$background_accent: #241b2f;

$text: #ffffff;
$button_text: white;

$lightGray: #495495;
$input_background: #2a2139;

@import './sass/_imports.scss';
