/*!Discord Dark*/

$accent: #5865F2;

$green: #23a55a;
$yellow: #f0b232;
$red: #f23f43;
$redlight: #da373c;

$background: #313338;
$background_accent: #1e1f22;

$text: #dbdee1;
$button_text: white;

$lightGray: #6d6f78;
$input_background: #383a40;

@import './sass/_imports.scss';
