/*!GitHub Light*/

$accent: #0969da;

$green: #1a7f37;
$yellow: #9a6700;
$red: #cf222e;
$redlight: #a40e26;

$background: #ffffff;
$background_accent: #f6f8fa;

$text: #24292f;
$button_text: white;

$lightGray: #d0d7de;
$input_background: #f6f8fa;

@import './sass/_imports.scss';
