/*!Dracula*/

$accent: #bd93f9;

$green: #50fa7b;
$yellow: #f1fa8c;
$red: #ff5555;
$redlight: #ff6e6e;

$background: #282a36;
$background_accent: #21222c;

$text: #f8f8f2;
$button_text: #f8f8f2;

$lightGray: #6272a4;
$input_background: #44475a;

@import './sass/_imports.scss';
