/*!Solarized Dark*/

$accent: #268bd2;

$green: #859900;
$yellow: #b58900;
$red: #dc322f;
$redlight: #cb4b16;

$background: #002b36;
$background_accent: #073642;

$text: #839496;
$button_text: #fdf6e3;

$lightGray: #586e75;
$input_background: #073642;

@import './sass/_imports.scss';
